<nav class="navbar navbar-dark bg-dark-gray sticky-top navbar-expand-lg navbar-secondary bg-secondary">
    <a class="navbar-brand" routerLink="/">
        <img src="/assets/icon/robot-design.png" width="30" height="30" class="d-inline-block align-top" alt="">
        BookInBot.com
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul *ngIf="isLoggedIn();else other_content" class="navbar-nav mr-auto">          

        <li class="nav-item" style="color:rgba(255, 255, 255, 0.664)">
            {{fullName}} (<a routerLink="/signout" href="#">logout</a>)
        </li>           

      </ul>

      <ng-template #other_content>
      <ul class="navbar-nav">  
          <li><a routerLink="/signin" href="#">Sign In</a> | <a routerLink="/signup/new" href="#">Register</a></li>
        </ul>
      </ng-template>
    </div>


    



</nav>
