<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
        <img src="/assets/icon/robot-design.png" width="30" height="30" class="d-inline-block align-top" alt="">
        BookInBot.com
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul *ngIf="isLoggedIn();else other_content" class="navbar-nav mr-auto">          
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{fullName}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a routerLink="/settings" href="#" class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div>
              <a routerLink="/signout" href="#" class="dropdown-item">Logout</a>
          </div>          
        </li>           
      </ul>

      <ng-template #other_content>
      <ul class="navbar-nav">  
          <a routerLink="/signin" href="#">Sign In</a>  
      </ul>
      </ng-template>
    </div>


    



</nav>
