
nav.navbar {
    color: #d1d1d1;  
}

ul.navbar-nav span {
    margin-left: 6px; 
}

a.navbar-brand {
    margin-right: 0px;    
}


nav.navbar a {
    color: white;  
}

nav.navbar .btn-outline-success {
    color: white;  
    border-color: white;  

}