<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset1 col-md-offset-2">
        <h1>Sign In</h1>
        <form (ngSubmit)="onSignin(f)" #f="ngForm" autocomplete="on">
            <div class="form-group">
              <label for="email">Email</label>
              <input required email type="email" id="email" name="email" ngModel class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input required password type="password" id="password" name="password" ngModel class="form-control">
            </div> 
                
            <div *ngIf="message" class="alert alert-danger" role="alert">
                {{ message }}
            </div>        
            
            <div *ngIf="loading; else ready">
                <button id="signin" [disabled]="true" class="btn btn-primary"             
                type="submit"><i class="fa fa-refresh fa-spin"></i> Signing in...</button>
            </div>       
            <ng-template #ready>
                <button id="signin" [disabled]="!f.valid" class="btn btn-primary"             
                type="submit">Sign In</button>
            </ng-template>

            
            <div>
                <a routerLink="/signup">No login? Sign Up here.</a>
            </div>

            <div>
                <a routerLink="/forgot">Forgot your password?</a>
            </div>          
            
            <div>
                <a routerLink="/recover">User not confirm? Resend code.</a>
            </div>                

        </form>        
                  
    </div>


  </div>
  
  