
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

h1 {
    padding-top: .5em;
    font-size: 1.5em;
}

button#signin {
    margin-bottom: 1.0em;
}