<h1>How it works</h1>

<div class="row">
    <div class="col-sm-8">
      <h3>1. Create a new resource to share with people</h3>
    </div> 
    <div class="col-sm-4">
        <img 
        class="img-fluid"
        alt="Adding new resource" 
        src="assets/img/works/bookinbot_add.png">
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
      <h3>2. View bookings and people with access</h3>
    </div> 
    <div class="col-sm-4">
        <img 
        class="img-fluid"
        alt="Adding people to share resource" 
        src="assets/img/works/bookinbot_people.png">
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
      <h3>3. Add people to allow them access to your resource</h3>
    </div> 
    <div class="col-sm-4">
        <img 
        class="img-fluid"
        alt="Adding people to share resource" 
        src="assets/img/works/bookinbot_addperson.png">
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
      <h3>4. Those people can now view bookings for that resource</h3>
    </div> 
    <div class="col-sm-4">
        <img 
        class="img-fluid"
        alt="Adding people to share resource" 
        src="assets/img/works/bookinbot_shared.png">
    </div>
</div>

<div class="row">
    <div class="col-sm-8">
      <h3>5. And also book them in!</h3>
    </div> 
    <div class="col-sm-4">
        <img 
        class="img-fluid"
        alt="Adding people to share resource" 
        src="assets/img/works/bookinbot_booked.png">
    </div>
</div>
