  
<!-- The Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">      
        <div class="modal-header">
          <h4 class="modal-title">Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">     
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12 form-group">
                <label for="name">Start</label>
                <input 
                  type="text" id="start" class="form-control" name="start" ngModel required>
              </div>   
            </div>  
            
            <div class="row">
                <div class="col-sm-12 form-group">
                  <label for="name">End</label>
                  <input 
                    type="text" id="start" class="form-control" name="end" ngModel required>
                </div>   
              </div>              
            
            <div class="row" *ngIf="message">
                <div class="col-sm-12 form-group">
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>   
                </div>
            </div>

          </div>        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button 
              id="save-booking"
              class="btn btn-success" 
              type="submit" 
              [disabled]="!f.valid">
              {{ editMode ? 'Update' : 'Add' }}</button>   
            <button 
              class="btn btn-danger" 
              type="button"
              (click)="onDelete()" 
              *ngIf="editMode">Delete</button>                                 
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>           
      </div>
    </div>
  </div>


<div class="row">
  <div class="col-xs-12">
      <h2>Bookings</h2>
      <button id="add-booking" type="button" class="btn btn-primary" 
        (click)="onAddObject()">Add Booking</button>
      <hr>

      <div id='calendar'></div>   

      <ul class="list-group">
        <li class="list-group-item" class="list-group-item" 
          style="cursor: pointer"
          *ngFor="let booking of bookings; let i = index">
            <button 
            id="edit-booking"
            class="btn btn-success" 
            (click)="onEditObject(i, booking)"            
            type="submit" >
            Edit</button>
            <a 
            (click)="onViewBookings(i, booking)"
            >{{ booking.start }}
            </a>            
        </li>
      </ul>
  </div>
</div>

