.modal-dialog,
.modal-content, form {
    /* 80% of window height */
    height: 95%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}

h1 {
    padding-top: 0.5em;
    font-size: 1.5em;
}

div.input-group-append {
    cursor: pointer;
}

button.edit {
    margin-left: 0.5em;    
}

