<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset1 col-md-offset-2">
        <h1>Resend Confirmation Code</h1>
        <form (ngSubmit)="onRecover(f)" #f="ngForm" autocomplete="on">
            <div class="form-group">
              <label for="email">Enter your email</label>
              <input required email type="email" id="email" name="email" ngModel class="form-control">
            </div>
                
            <div *ngIf="message" class="alert alert-danger" role="alert">
                {{ message }}
            </div>        
            
            <div *ngIf="loading; else ready">
                <button id="recover" [disabled]="true" class="btn btn-primary"             
                type="submit"><i class="fa fa-refresh fa-spin"></i> Sending code...</button>
            </div>       
            <ng-template #ready>
                <button id="recover" [disabled]="!f.valid" class="btn btn-primary"             
                type="submit">Resend Code</button>
            </ng-template>            


        </form>        
                  
    </div>


  </div>
  
  