<div class="jumbotron mt-2 p-3 p-md-3 text-white rounded bg-info">
    <div class="col-md-8 px-0">
      <h2>We're here to help your share!</h2>
      <p>Share your stuff (or time) so friends and family can book it in.</p>
      <p>            
        Please <a routerLink="/signin" href="#">Sign In</a> or <a routerLink="/signup/new" href="#">Sign Up</a>
      </p>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <img class="mr-3" alt="BookInBot Calendar" src="assets/img/bookinbot.png" width="370" height="736">
    </div>
    <div class="col-sm">
      <h3>Sign up and add things you have!</h3>
      <h4>You can share anything!</h4>
      <ul>
        <li>A holiday house or apartment between friends and family.</li>
        <li>Your skills and time as a hairdresser or babysitter.</li>
        <li>Share anything you like or schedule in your time.</li>        
      </ul>
      <p>Just <a routerLink="/signin" href="#">Sign In</a> or <a routerLink="/signup/new" href="#">Sign Up</a>, add a resource, share with others and they can book it in.</p>
    </div>
</div>



