.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

div.jumbotron {
    margin-top: 1.5em; 
    padding-top: 1.5em;   
    padding-bottom: 0.5em;       
}

h1 {
    padding-top: .5em;
    font-size: 1.5em;
}

button#signup {
    margin-bottom: 1.0em;
}