<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset1 col-md-offset-2">
        <h1>Forgot password</h1>
        <form (ngSubmit)="onForgot(f)" #f="ngForm" autocomplete="on">
            <div class="form-group">
              <label for="email">Enter your email</label>
              <input required email type="email" id="email" name="email" ngModel class="form-control">
            </div>
                
            <div *ngIf="message" class="alert alert-danger" role="alert">
                {{ message }}
            </div>        
            
            <button id="forgot" [disabled]="!f.valid" class="btn btn-primary" type="submit">Reset Password</button>
                      

        </form>        
                  
    </div>


  </div>
  
  