<h1>Pricing</h1>

<div class="row">
    <div class="col-sm" >
      <div class="jumbotron mt-2 p-3 p-md-3 text-white rounded bg-info">
        <h2>Basic Plan</h2>
        <h3>Is Free!!!</h3>
        <ul>
          <li>Manage up to 5 resources.</li>
          <li>Share with up to 10 other people.</li>
          <li>Free forever!</li>        
        </ul>
        <p><a routerLink="/signup" href="#">Sign Up</a> for the Basic plan.</p>
      </div>
    </div>      
    <div class="col-sm" >
      <div class="jumbotron mt-2 p-3 p-md-3 text-white rounded bg-success">
        <h2>Premium Plan</h2>
        <h3>$15 per month</h3>
        <ul>
          <li>Manage between 5 and 50 resources.</li>
          <li>Share with up to 50 other people.</li>
          <li>Support cover.</li>        
        </ul>
        <p><a routerLink="/signup" href="#">Sign Up</a> for the Premium plan.</p>
      </div>
    </div>      
</div>
      
