  
<!-- The Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">      
        <div class="modal-header">
          <h4 class="modal-title">{{ editMode ? 'Edit' : 'Add' }} Email</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">     
          <div class="modal-body">

            <div class="form-group">
                <label for="email">Search for email address:</label>
                <div class="input-group">              
                  <input (keydown)="keyDownFunction($event)" 
                  required email type="email" id="email" name="email" ngModel class="form-control">              
                </div>                          
            </div>   
            
            <div *ngIf="searching">
                searching ...
            </div>       
         
            <div class="row" *ngIf="errorMessage!='' && successMessage==''">
                <div class="col-sm-12 form-group">
                    <div class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>   
                </div>
            </div>

            <div class="row" *ngIf="successMessage!='' && errorMessage==''">
                <div class="col-sm-12 form-group">
                    <div class="alert alert-success" role="alert">
                        {{ successMessage }}
                    </div>   
                </div>
            </div>


          </div>        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button 
              id="save-share"
              class="btn btn-success" 
              type="submit"
              *ngIf="!editMode" 
              [disabled]="!f.valid">
              {{ searchMode ? 'Search' : 'Add' }}</button>   
            <button 
              id="delete-share"             
              class="btn btn-danger" 
              type="button"
              (click)="onDelete()" 
              *ngIf="editMode">Delete</button>                                 
            <button 
              id="cancel-share" 
              type="button" 
              class="btn btn-secondary" 
              data-dismiss="modal">Close</button>
          </div>
        </form>           
      </div>
    </div>
  </div>


<div class="row">
  <div id="shares" class="col-md-12">            
      <div *ngIf="sharesLoading; else sharesLoaded">
          loading shared resources...
      </div>       
      <ng-template #sharesLoaded>
      <span><a routerLink="/">Home</a> > {{resource.title}} > People</span>
      <hr>      
      <div *ngIf="message" class="alert alert-danger" role="alert">
          {{ message }}
      </div>                        
      <h1>People that can book in {{resource.title}}</h1>        
      <button id="add-share" type="button" class="btn btn-primary" 
        (click)="onAddObject()">Add Person</button>
      <ul class="list-group">
        <li class="list-group-item"        
          *ngFor="let share of shares; let i = index">

          <button 
          class="edit-share btn btn-success float-right edit" 
          (click)="onEditObject(i, share)"         
          type="submit" >
          Edit
          </button>        
          
          
          <button *ngIf="share.status == 'INVITE SENT' " 
          class="edit-share btn btn-success float-right edit" 
          (click)="onReSendObject(i, share)"         
          type="submit" >
          Resend
          </button>  

          {{ share.username }} {{ share.email }}
          <span *ngIf="share.status == 'INVITE SENT' " class="badge badge-warning">{{ share.status }}</span>
          <span *ngIf="share.status == 'SIGN UP COMPLETED' " class="badge badge-success">{{ share.status }}</span>
        
        </li>
      </ul>
      </ng-template>  
  </div>
</div>

    