  
<!-- The Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">      
        <div class="modal-header">
          <h4 class="modal-title">{{ editMode ? 'Edit' : 'Add' }} Email</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">     
          <div class="modal-body">

            <div class="form-group" *ngIf="!editMode">
                <label for="email">Search for email address:</label>
                <div class="input-group">              
                  <input (keydown)="keyDownFunction($event)" 
                  required email type="email" id="email" name="email" ngModel class="form-control">              
                </div>                          
            </div>   
            <div class="form-group" *ngIf="editMode">
              <p>Edit email address</p>
            </div>  

            <div *ngIf="searching">
                searching ...
            </div>       
         
            <div class="row" *ngIf="errorMessage!='' && successMessage==''">
                <div class="col-sm-12 form-group">
                    <div class="alert alert-danger" role="alert">
                        {{ errorMessage }}
                    </div>   
                </div>
            </div>

            <div class="row" *ngIf="successMessage!='' && errorMessage==''">
                <div class="col-sm-12 form-group">
                    <div class="alert alert-success" role="alert">
                        {{ successMessage }}
                    </div>   
                </div>
            </div>


          </div>        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button 
              id="save-share"
              class="btn btn-success" 
              type="submit"
              *ngIf="!editMode" 
              [disabled]="!f.valid">
              {{ searchMode ? 'Search' : 'Add' }}</button>

            <button *ngIf="editMode"
              class="edit-share btn btn-success float-right edit" 
              (click)="onReSendObject()"         
              type="submit" >
              Resend
              </button>  
    
            <button 
              id="delete-share"             
              class="btn btn-danger" 
              type="button"
              (click)="onDelete()" 
              *ngIf="editMode">Delete</button>                                 
            <button 
              id="cancel-share" 
              type="button" 
              class="btn btn-secondary" 
              data-dismiss="modal">Close</button>
          </div>
        </form>           
      </div>
    </div>
  </div>


<div class="row">
  <div id="shares" class="col-md-12">            
      <div *ngIf="sharesLoading; else sharesLoaded">
          Loading...
      </div>       
      <ng-template #sharesLoaded>
      <h1>{{resource.title}} 
          <button type="button" class="btn btn-primary float-right"
          (click)="onViewBookings(i, resource)">Bookings</button>
          </h1>        
          <hr>      
      <div *ngIf="message" class="alert alert-danger" role="alert">
          {{ message }}
      </div>                        
      <h2>People sharing {{resource.title}}</h2>        
      <button id="add-share" type="button" class="btn btn-primary" 
        (click)="onAddObject()">Add Person</button>
      <ul class="list-group">
        <li class="list-group-item"        
          *ngFor="let share of shares; let i = index">

          <button 
          class="edit-share btn btn-success float-right edit" 
          (click)="onEditObject(i, share)"         
          type="submit" >
          Edit
          </button> 
          
          <p *ngIf="share.username">{{ share.username }}</p>
          <p *ngIf="share.email">{{ share.email }}</p>
          <p *ngIf="share.status;else loading">
            <span *ngIf="share.status == 'FORCE_CHANGE_PASSWORD' " 
            class="badge badge-secondary">INVITE SENT WAITING FOR SIGN UP
            </span>
            <span *ngIf="share.status == 'UNKNOWN' " 
            class="badge badge-danger">USER STATUS UNKNOWN
            </span>
            <span *ngIf="share.status == 'CONFIRMED' " 
            class="badge badge-success">USER CONFIRMED
            </span>            
          </p>
          <ng-template #loading>...</ng-template>          

<!--
          <p *ngIf="share.status == 'INVITE SENT' " class="badge badge-warning">{{ share.status }}</p>
          <p *ngIf="share.status == 'SIGN UP COMPLETED' " class="badge badge-success">{{ share.status }}</p>
-->        
        </li>
      </ul>
      </ng-template>  
  </div>
</div>

    