  
<!-- The Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">      
        <div class="modal-header">
          <h4 class="modal-title">{{ editMode ? 'Edit' : 'Add' }} Email</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">     
          <div class="modal-body">

            <div class="form-group">
                <label for="email">Search for email address:</label>
                <div class="input-group">              
                  <input (keydown)="keyDownFunction($event)" 
                  required email type="email" id="email" name="email" ngModel class="form-control">
<!--                  
                  <span class="input-group-btn">
                    <button [disabled]="!f.valid" (click)="onSearch()" class="btn btn-primary search" type="button">Search</button>          
                  </span>
                -->                  
                </div>                          
            </div>   
            
            <div *ngIf="searching">
                searching ...
            </div>       
      
    
<!--
            <div class="row">
              <div class="col-sm-12 form-group">
                <label for="name">Title</label>
                <input 
                  type="text" id="title" class="form-control" name="title" ngModel required>
              </div>   
            </div>    
   -->        
            <div class="row" *ngIf="messageModal">
                <div class="col-sm-12 form-group">
                    <div class="alert alert-danger" role="alert">
                        {{ messageModal }}
                    </div>   
                </div>
            </div>

            <div class="row" *ngIf="successMessage">
                <div class="col-sm-12 form-group">
                    <div class="alert alert-success" role="alert">
                        {{ successMessage }}
                    </div>   
                </div>
            </div>


          </div>        
          <!-- Modal footer -->
          <div class="modal-footer">
            <button 
              id="save-share"
              class="btn btn-success" 
              type="submit"
              *ngIf="!editMode" 
              [disabled]="!f.valid">
              {{ searchMode ? 'Search' : 'Add' }}</button>   
            <button 
              id="delete-share"             
              class="btn btn-danger" 
              type="button"
              (click)="onDelete()" 
              *ngIf="editMode">Delete</button>                                 
            <button 
              id="cancel-share" 
              type="button" 
              class="btn btn-secondary" 
              data-dismiss="modal">Close</button>
          </div>
        </form>           
      </div>
    </div>
  </div>


<div class="row">
  <div id="shares" class="col-md-12">
      

        <div *ngIf="resourceLoading; else heading">
          loading ...
        </div>       
        <ng-template #heading>
          <span><a routerLink="/">Home</a> > {{resource.title}} > People</span>
          <hr>
        </ng-template>       
    

      <button id="add-share" type="button" class="btn btn-primary" 
        (click)="onAddObject()">Add Person</button>

      <div *ngIf="message" class="alert alert-danger" role="alert">
          {{ message }}
      </div>                    

      <div *ngIf="sharesLoading">
        loading ...
      </div>                    


      <ul class="list-group">
        <li class="list-group-item"        
          *ngFor="let share of shares; let i = index">
          <button 
          class="edit-share btn btn-success float-right edit" 
          (click)="onEditObject(i, share)"         
          type="submit" >
          Edit
          </button>        
          <button 
          class="edit-share btn btn-success float-right edit" 
          (click)="onReSendObject(i, share)"         
          type="submit" >
          Resend
          </button>        

          <a>
            USERID: {{ share.userid}} - {{ share.email }} - {{ share.username }} RESOURCE: {{ share.resourceid }} {{ share.resourcetitle }}
          </a> 
        </li>
      </ul>
  </div>
</div>

    