<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset1 col-md-offset-2">
    
    <div *ngIf="status=='new'" class="form-group">
      <h1>Sign Up</h1>
      
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>

          <div class="input-group">                
          <input required email id="email" name="email" ngModel class="form-control">
          </div> 
        </div>

        <div class="form-group">
          <label for="password">Password</label>

          <div class="input-group">
          <input required password type="password" id="password" name="password" ngModel class="form-control">
          </div>            
        </div> 

        <div class="form-group">
          <label for="firstname">First Name</label>

          <div class="input-group">
          <input required id="firstname" name="firstname" ngModel class="form-control">
          </div>
        </div>
        
        <div class="form-group">
          <label for="lastname">Last Name</label>

          <div class="input-group">            
          <input required id="lastname" name="lastname" ngModel class="form-control">
          </div>            
        </div>          

        <div *ngIf="message" class="alert alert-danger" role="alert">
            {{ message }}
        </div>        
           
        <button (click)="onSetDefault()" class="btn btn-primary" type="button">Default</button> 

        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Sign Up</button>
      </form>   
      <div>
            <a routerLink="/signin">Got a login? Sign In here!</a>
      </div>                            
    </div> <!-- end of status new -->         

    <div *ngIf="status=='confirm'" class="form-group">
      <h1>Your user has been registered!</h1>
      <p>
        Your user has been registered and an email has been sent to the previous email address.
      </p>      
      <p>
        Please open this email and click the verify link to complete the sign up process.
      </p>

    </div> <!-- end of status new -->    
  
    <div *ngIf="status=='newpassword'" class="form-group">
      <h1>New Password Required</h1>      
      <label for="newpassword">New Password</label>

      <div class="input-group">
      <input required password type="newpassword" id="newpassword" name="newpassword" ngModel class="form-control">
      </div>            
    </div> <!-- end of status newpassword -->    



  </div>

</div>

