
<div class="row">
    <div class="col-md-12">
      
        <h1>Add user to group</h1>
        <form (ngSubmit)="onSearchUsers(f)" #f="ngForm">
            <div class="form-group">
              <label for="email">Search for email address:</label>
              <div class="input-group">              
                <input (keydown)="keyDownFunction($event)" 
                required email type="email" id="email" name="email" ngModel class="form-control">
                <span class="input-group-btn">
                  <button [disabled]="!f.valid" class="btn btn-primary search" type="submit">Search</button>          
                </span>
              </div>                          
            </div>            
            <div *ngIf="message" class="alert alert-danger" role="alert">
                {{ message }}
            </div>                    
        </form>        


        <ul class="list-group">
            <label *ngIf="searched">{{ searchMessage }}</label>

            <li class="list-group-item" class="list-group-item" 
              *ngIf="userNotFound">
              Send invite to {{ emailInvite }}
              <button 
              class="invite-user float-right btn btn-success"                 
              (click)="onInviteUser(emailInvite)"            
              type="submit">
              Invite</button>  
            </li>            

            <li class="list-group-item" class="list-group-item" 
              *ngFor="let user of searchusers; let i = index">
                {{ user.firstname }} {{ user.lastname }} ({{ user.email }})              
                <button 
                class="add-user float-right btn btn-success"                 
                (click)="onAddUser(user)"            
                type="submit">
                Add</button>                
            </li>
        </ul>
          

        <h1>Users in your group</h1>        
        <ul class="list-group">
            <li class="list-group-item" class="list-group-item"
              *ngFor="let user of users; let i = index">
                {{ user.firstname }} {{ user.lastname }} ({{ user.email }} 
                <span class="badge badge-success">{{ user.status }}</span>)
                <button 
                class="remove-user float-right btn btn-danger" 
                (click)="onDeleteObject(i, user)"            
                type="submit">
                Remove</button>
            </li>
        </ul>




    </div>
</div>
  
  
